.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.chessboard {
    text-align: center;
    width: 480px;
    height: 480px;
}

.row {
    clear: both;
    content: "";
    display: table;
}

.square {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.piece {
    width: 50px;
    height: 50px;
    cursor: grab;
    z-index: 50;
    /* pointer-events: none; */
}
.numbering {
    position: absolute;
    top: 3px;
    left: 3px;
}
.lettering {
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.label {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
.right-container{
    height: 480px;
    width: 200px;
    background-color: antiquewhite;
}

.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
}

.history-container {
    display: grid;
    grid: auto auto / auto auto;
    width: 100%;
    grid-column: 2;
    background-color: white;
}